* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #fcf8ff;
}

.navContainer {
  height: 80px;
  background: #C9FFBF;
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

#navList {
  list-style: none;
  font-size: 1.8rem;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navLogo {
  font-size: 2.8rem;
  color: rgba(7, 96, 230, 0.712);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgba(7, 96, 230, 0.712);
}

#navItems {
  display: flex;
  gap: 40px;
}

.footerBox{
    background: #C9FFBF;
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.footerBox p{
    text-align: center;
    font-size: 1.8rem;
    color: #777;
    min-height: 40px;
}

.contentBox{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.item{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
     background: #C9FFBF;
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px rgb(235, 85, 5);
}


img{
    width: 300px;
    height: 300px;
    transition: all 0.6s linear;
}

.rightBox:hover{
    transform: scale(1.1);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftBox h2{
    font-size: 2rem;
    color: rgba(7, 96, 230, 0.712);
}

.leftBox h3{
    font-size: 1.6rem;
    color: rgba(138, 56, 209, 0.592);
}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.6s linear;
    border-radius: 25px;
}
.ingBox{
    font-size:1.1rem;
}
.recipeBox{
    font-size:1.1rem;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.6s linear 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.5rem;
}