*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 75vw;
    margin: 0 auto;
    padding: 2rem 1rem;
    /* background-color: aqua; */
}

a{
    text-decoration: none;
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.header_desc{
    max-width: 464px;
    margin: 0 auto;
    text-align: center;
    color:rgba(0, 0, 0, 0.694);
}

.main_container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(180px,225px));
    justify-content: center;
}

.card_container{
    border: 2px solid rgba(142, 135, 135, 0.272);
    /* padding: 1rem; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card_image_container{
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}

.card_image{
    width: 100%;
     border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.card_container:hover .card_image{
    transform: scale(1.075);
    transition-duration: 0.5s;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.card_title{
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1rem;
    margin-bottom: 0.25rem;
    color: rgb(59, 55, 55);
}

.card_title_container a:hover .card_title{
    color: rgba(0, 0, 255, 0.859);
    transition-duration: 0.3s;
}

.card_desc{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.664);
    /* line-height: 1.3rem; */
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.75rem;
}

.author_container{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    /* border: 1px solid rgb(64, 61, 61); */
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.399);
}

.author_avatar_container img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.author_info_container{
    display: flex;
    flex-direction: column;
}

.author_name{
    font-size: 0.75rem;
    color:rgba(0, 0, 255, 0.722);
    font-weight: 600;
}

.author_date{
    font-size: 0.7rem;
    color:rgb(84, 79, 79);
}

.card_tag_container{
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid rgb(54, 50, 50);
    padding: 0.3rem 0.35rem;
    border-radius: 5px;
    height: fit-content;
    align-self: center;
    color: rgb(54, 50, 50);
}

/* media queries */

/* @media (min-width: 650px) {
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1080px) {
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1340px) {
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
} */